## .NET files ##
bin/
obj/
.vs/
.vscode/
.user
*.userprefs
*.suo
*.cache
*.swp
*.nupkg
*.DS_Store

# Packets files
packages/
artifacts/

# Debug files (logs, dumps)
debuglog.txt
*.log
*.binlog

# Android files (cash, builds)
android/bin/
android/obj/
android/build/
*.apk
*.aab
*.keystore

# iOS files (cash, temp)
ios/bin/
ios/obj/
ios/build/
*.ipa
*.p12
*.mobileprovision

# Mac Catalyst files
maccatalyst/bin/
maccatalyst/obj/
maccatalyst/build/

# Tizen files
tizen/bin/
tizen/obj/
tizen/build/

# NuGet-cashes
.nuget/
localpackages/

# Tests 
TestResults/
*.trx
*.coverage

# Environtments (env, secrets)
.env
*.secrets.json
appsettings.Development.json

#Rider files
.idea/

# User-specific properties
*.csproj.user
